<!DOCTYPE html>
<html data-ng-app="taskOneApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Sourav Biswas - Task 1</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script type="text/javascript" src="taskOneApp.js"></script>
  <script type="text/javascript" src="weather.js"></script>
</head>
<body>
<div style="background-image:{{backgroundImage}}" class="weather-widget" data-ng-controller="weather" data-ng-init="init()">
	<h3>Weather Widget <span class="link" data-ng-show="weatherData.success" data-ng-click="toggleForm()">Back</span></h3>
	<span class="loading">{{loading}}</span>
	<div data-ng-show="showForm">
		<form name="areaDetails">
			<label>Enter your zip code</label>
			<input type="text" data-ng-model="zip">
			<button data-ng-click="formSubmitHandler()">Check Weather</button>
		</form>
	</div>
	<div data-ng-show="weatherData.success">
		<div class="weather-data">
			<div class="right-section">
				<h1>{{weatherData.data.locationName}}</h1>
				<h1 class="link" data-ng-click="toggleUnit()">{{weatherData.data.temp}}{{tempUnit}}</h1>
			</div>
			<div class="left-section">
				<p>Humidity: {{weatherData.data.humidity}}%</p>
				<p>Pressure: {{weatherData.data.pressure}}hPa</p>
				<p>Max: {{weatherData.data.max}}{{tempUnit}} | Min: {{weatherData.data.min}}{{tempUnit}}</p>
				<p style="text-transform: capitalize;">Prediction: {{weatherData.data.condition}}</p>
			</div>
		</div>
		<div class="weather-footer">
			<p>Last updated on {{weatherData.data.updatedTime}}</p>
		</div>
	</div>
</div>
</body>
</html>